# Ignore user docs
.var

# ...and theses directories
!.var/downloads/
!.var/documents/
!.var/spreadsheets/
!.var/scripts/
!.var/email/
!.var/email/templates

# ...and their .gitkeep files
!.var/downloads/.gitkeep
!.var/documents/.gitkeep
!.var/spreadsheets/.gitkeep
!.var/scripts/.gitkeep
!.var/email/templates/.gitkeep

# ...and SQLPage
!.var/www/
!.var/www/.gitkeep