/* media prefers dark theme */

@media (prefers-color-scheme: dark) {

	#markdown_form .cm-header {
		color: hsl(211, 30%, 85%) !important;
	}

	.CodeMirror-gutter-filler,
	#markdown_form .CodeMirror-scrollbar-filler {
		background-color: #fff !important;
	}
	
	#markdown_form .CodeMirror-gutters {
		border-right: 1px solid #ddd !important;
		background-color: #f7f7f7 !important;
		white-space: nowrap !important;
	}
	
	#markdown_form .CodeMirror-linenumber {
		padding: 0 3px 0 5px !important;
		min-width: 20px !important;
		text-align: right !important;
		color: #999 !important;
		white-space: nowrap !important;
	}
	
	#markdown_form .CodeMirror-guttermarker {
		color: #000 !important;
	}
	
	#markdown_form .CodeMirror-guttermarker-subtle {
		color: #999 !important;
	}
	
	#markdown_form .CodeMirror-cursor {
		border-left: 1px solid #000 !important;
		border-right: none !important;
		width: 0 !important;
	}
	
	#markdown_form .CodeMirror div.CodeMirror-secondarycursor {
		border-left: 1px solid silver !important;
	}
	
	#markdown_form .cm-fat-cursor .CodeMirror-cursor {
		width: auto !important;
		border: 0  !important;
		background: #7e7 !important;
	}
	
	#markdown_form .cm-fat-cursor div.CodeMirror-cursors {
		z-index: 1 !important;
	}
	
	#markdown_form .cm-animate-fat-cursor {
		width: auto !important;
		border: 0 !important;
		-webkit-animation: blink 1.06s steps(1) infinite !important;
		animation: blink 1.06s steps(1) infinite !important;
		background-color: #7e7 !important;
	}
	
	@-webkit-keyframes blink {
		50% {
			background-color: transparent
		}
	}
	
	@keyframes blink {
		50% {
			background-color: transparent
		}
	}
	
	#markdown_form .cm-tab {
		display: inline-block !important;
		text-decoration: inherit !important;
	}
	
	#markdown_form .CodeMirror-rulers {
		position: absolute !important;
		left: 0 !important;
		right: 0 !important;
		top: -50px !important;
		bottom: -20px !important;
		overflow: hidden !important;
	}
	
	#markdown_form .CodeMirror-ruler {
		border-left: 1px solid #ccc !important;
		top: 0 !important;
		bottom: 0 !important;
		position: absolute !important;
	}
	
	#markdown_form .CodeMirror,
	#markdown_form .CodeMirror-scroll {
		position: relative !important;
		min-height: 300px !important;
	}
	
	#markdown_form .cm-s-default .cm-header {
		color: #00f !important;
	}
	
	#markdown_form .cm-s-default .cm-quote {
		color: #090 !important;
	}
	
	#markdown_form .cm-negative {
		color: #d44 !important;
	}
	
	#markdown_form .cm-positive {
		color: #292 !important;
	}
	
	#markdown_form .cm-header,
	#markdown_form .cm-strong {
		font-weight: 700 !important;
	}
	
	#markdown_form .cm-em {
		font-style: italic !important;
	}
	
	#markdown_form .cm-link {
		text-decoration: underline !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-strikethrough,
	#markdown_form .cm-strikethrough {
		text-decoration: line-through !important;
	}
	
	#markdown_form .cm-s-default .cm-keyword {
		color: #708 !important;
	}
	
	#markdown_form .cm-s-default .cm-atom {
		color: #219 !important;
	}
	
	#markdown_form .cm-s-default .cm-number {
		color: #164 !important;
	}
	
	#markdown_form .cm-s-default .cm-def {
		color: #00f !important;
	}
	
	#markdown_form .cm-s-default .cm-variable-2 {
		color: #05a !important;
	}
	
	#markdown_form .cm-s-default .cm-variable-3 {
		color: #085 !important;
	}
	
	#markdown_form .cm-s-default .cm-comment {
		color: #a50 !important;
	}
	
	#markdown_form .cm-s-default .cm-string {
		color: #a11 !important;
	}
	
	#markdown_form .cm-s-default .cm-string-2 {
		color: #f50 !important;
	}
	
	#markdown_form .cm-s-default .cm-meta,
	#markdown_form .cm-s-default .cm-qualifier {
		color: #555 !important;
	}
	
	#markdown_form .cm-s-default .cm-builtin {
		color: #30a !important;
	}
	
	#markdown_form .cm-s-default .cm-bracket {
		color: #997 !important;
	}
	
	#markdown_form .cm-s-default .cm-tag {
		color: #170 !important;
	}
	
	#markdown_form .cm-s-default .cm-attribute {
		color: #00c !important;
	}
	
	#markdown_form .cm-s-default .cm-hr {
		color: #999 !important;
	}
	
	#markdown_form .cm-s-default .cm-link {
		color: #00c !important;
	}
	
	#markdown_form .cm-invalidchar,
	#markdown_form .cm-s-default .cm-error {
		color: red !important;
	}
	
	#markdown_form .CodeMirror-composing {
		border-bottom: 2px solid !important;
	}
	
	#markdown_form div.CodeMirror span.CodeMirror-matchingbracket {
		color: #0f0 !important;
	}
	
	#markdown_form div.CodeMirror span.CodeMirror-nonmatchingbracket {
		color: #f22 !important;
	}
	
	#markdown_form .CodeMirror-matchingtag {
		background: rgba(255, 150, 0, .3) !important;
	}
	
	#markdown_form .CodeMirror-activeline-background {
		background: #e8f2ff !important;
	}
	
	#markdown_form .CodeMirror {
		position: relative !important;
		overflow: hidden !important;
	}
	
	#markdown_form .CodeMirror-scroll {
		overflow: scroll  !important;
		height: 100% !important;
		outline: 0 !important;
		position: relative !important;
	}
	
	#markdown_form .CodeMirror-sizer {
		position: relative !important;
		border-right: 30px solid transparent !important;
	}
	
	#markdown_form .CodeMirror-gutter-filler,
	#markdown_form .CodeMirror-hscrollbar,
	#markdown_form .CodeMirror-scrollbar-filler,
	#markdown_form .CodeMirror-vscrollbar {
		position: absolute !important;
		z-index: 6 !important;
		display: none !important;
	}
	
	#markdown_form .CodeMirror-vscrollbar {
		right: 0 !important;
		top: 0 !important;
		overflow-x: hidden !important;
		overflow-y: scroll !important;
	}
	
	#markdown_form .CodeMirror-hscrollbar {
		bottom: 0 !important;
		left: 0 !important;
		overflow-y: hidden !important;
		overflow-x: scroll !important;
	}
	
	#markdown_form .CodeMirror-scrollbar-filler {
		right: 0 !important;
		bottom: 0 !important;
	}
	
	#markdown_form .CodeMirror-gutter-filler {
		left: 0 !important;
		bottom: 0 !important;
	}
	
	#markdown_form .CodeMirror-gutters {
		position: absolute !important;
		left: 0 !important;
		top: 0 !important;
		min-height: 100% !important;
		z-index: 3 !important;
	}
	
	#markdown_form .CodeMirror-gutter {
		white-space: normal !important;
		height: 100% !important;
		display: inline-block !important;
		vertical-align: top !important;
		margin-bottom: -30px !important;
	}
	
	#markdown_form .CodeMirror-gutter-wrapper {
		position: absolute !important;
		z-index: 4 !important;
		background: 0 0  !important;
		border: none  !important;
		-webkit-user-select: none !important;
		-moz-user-select: none !important;
		-ms-user-select: none !important;
		user-select: none !important;
	}
	
	#markdown_form .CodeMirror-gutter-background {
		position: absolute !important;
		top: 0 !important;
		bottom: 0 !important;
		z-index: 4 !important;
	}
	
	#markdown_form .CodeMirror-gutter-elt {
		position: absolute !important;
		cursor: default !important;
		z-index: 4 !important;
	}
	
	#markdown_form .CodeMirror-lines {
		cursor: text !important;
		min-height: 1px !important;
	}
	
	#markdown_form .CodeMirror pre {
		border-radius: 0 !important;
		border-width: 0 !important;
		background: 0 0 !important;
		font-family: inherit !important;
		font-size: inherit !important;
		margin: 0 !important;
		white-space: pre !important;
		word-wrap: normal !important;
		line-height: inherit !important;
		color: inherit !important;
		z-index: 2 !important;
		position: relative !important;
		overflow: visible !important;
		-webkit-tap-highlight-color: transparent !important;
		-webkit-font-variant-ligatures: contextual !important;
		font-variant-ligatures: contextual !important;
	}
	
	#markdown_form .CodeMirror-wrap pre {
		word-wrap: break-word !important;
		white-space: pre-wrap !important;
		word-break: normal !important;
	}
	
	#markdown_form .CodeMirror-linebackground {
		position: absolute !important;
		left: 0 !important;
		right: 0 !important;
		top: 0 !important;
		bottom: 0 !important;
		z-index: 0 !important;
	}
	
	#markdown_form .CodeMirror-linewidget {
		position: relative !important;
		z-index: 2 !important;
		overflow: auto !important;
	}
	
	#markdown_form .CodeMirror-code {
		outline: 0 !important;
	}
	
	#markdown_form .CodeMirror-gutter,
	#markdown_form .CodeMirror-gutters,
	#markdown_form .CodeMirror-linenumber,
	#markdown_form .CodeMirror-scroll,
	#markdown_form .CodeMirror-sizer {
		box-sizing: content-box !important;
	}
	
	#markdown_form .CodeMirror-measure {
		position: absolute !important;
		width: 100% !important;
		height: 0 !important;
		overflow: hidden !important;
		visibility: hidden !important;
	}
	
	#markdown_form .CodeMirror-cursor {
		position: absolute !important;
		pointer-events: none !important;
	}
	
	#markdown_form .CodeMirror-measure pre {
		position: static !important;
	}
	
	#markdown_form div.CodeMirror-cursors {
		visibility: hidden !important;
		position: relative !important;
		z-index: 3 !important;
	}
	
	#markdown_form .CodeMirror-focused div.CodeMirror-cursors,
	#markdown_form div.CodeMirror-dragcursors {
		visibility: visible !important;
	}
	
	#markdown_form .CodeMirror-selected {
		background: #d9d9d9 !important;
	}
	
	#markdown_form .CodeMirror-focused .CodeMirror-selected {
		background: #d7d4f0 !important;
	}
	
	#markdown_form .CodeMirror-crosshair {
		cursor: crosshair !important;
	}
	
	#markdown_form .CodeMirror-line::selection,
	#markdown_form .CodeMirror-line>span::selection,
	#markdown_form .CodeMirror-line>span>span::selection {
		background: #d7d4f0 !important;
	}
	
	#markdown_form .CodeMirror-line::-moz-selection,
	#markdown_form .CodeMirror-line>span::-moz-selection,
	#markdown_form .CodeMirror-line>span>span::-moz-selection {
		background: #d7d4f0 !important;
	}
	
	#markdown_form .cm-searching {
		background: #ffa !important;
		background: rgba(255, 255, 0, .4) !important;
	}
	
	#markdown_form .cm-force-border {
		padding-right: .1px !important;
	}
	
	@media print {
		#markdown_form .CodeMirror div.CodeMirror-cursors {
			visibility: hidden
		}
	}
	
	#markdown_form .cm-tab-wrap-hack:after {
		content: '' !important;
	}
	
	#markdown_form span.CodeMirror-selectedtext {
		background: hsla(207, 50%, 36%, 0.99) !important;
	}

	.CodeMirror {
		background-color: #151f2c !important;
		border: 1px solid #555 !important;
		border-bottom-left-radius: 3px !important;
		border-bottom-right-radius: 3px !important;
		color: #aaa !important;
		font-family: inherit !important;
		font-size: 18px !important;
		height: auto !important;
		line-height: 1.5 !important;
		padding: 14px !important;
		z-index: 1 !important;
	}
	
	#markdown_form .CodeMirror-scroll {
		margin-bottom: -32px !important;
		margin-right: -32px !important;
		padding-bottom: 32px !important;
	}
	
	#markdown_form .CodeMirror-fullscreen {
		background-color: #444 !important;
		border: 0 !important;
		border-top: 1px solid #555 !important;
		bottom: 0 !important;
		height: auto !important;
		left: 0 !important;
		position: fixed  !important;
		right: 0 !important;
		top: 58px !important;
		z-index: 9 !important;
	}
	
	#markdown_form .CodeMirror-sided {
		width: 50%  !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-placeholder {
		color: #777 !important;
	}
	
	#markdown_form .CodeMirror-cursor {
		border-left-color: #aaa !important;
	}
	
	#markdown_form .CodeMirror pre,
	#markdown_form .CodeMirror-lines {
		padding: 0 !important;
	}
	
	#markdown_form .CodeMirror-focused .CodeMirror-selected,
	#markdown_form .CodeMirror-line::-moz-selection,
	#markdown_form .CodeMirror-line>span::-moz-selection,
	#markdown_form .CodeMirror-line>span>span::-moz-selection,
	#markdown_form .CodeMirror-selected {
		background-color: rgba(255, 255, 255, .1) !important;
	}
	
	#markdown_form .CodeMirror-focused .CodeMirror-selected,
	#markdown_form .CodeMirror-line::selection,
	#markdown_form .CodeMirror-line>span::selection,
	#markdown_form .CodeMirror-line>span>span::selection,
	#markdown_form .CodeMirror-selected {
		background-color: rgba(255, 255, 255, .1) !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-attribute,
	#markdown_form .CodeMirror .CodeMirror-code .cm-tag {
		color: #95bf40 !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-string {
		color: #777 !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-link {
		color: #ffd500 !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-formatting-code,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-formatting-code-block,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-formatting-em,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-formatting-header,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-formatting-strikethrough,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-formatting-strong,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-hr,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-quote,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-url {
		color: #777 !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-header-1,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-header-2,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-header-3,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-header-4,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-header-5,
	#markdown_form #markdown_form .CodeMirror .CodeMirror-code .cm-header-6 {
		line-height: 2 !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-header-1 {
		font-size: 32px !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-header-2 {
		font-size: 26px !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-header-3 {
		font-size: 24px !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-header-4 {
		font-size: 22px !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-header-5 {
		font-size: 20px !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-header-6 {
		font-size: 18px !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-header,
	#markdown_form .CodeMirror .CodeMirror-code .cm-strong {
		font-weight: 600 !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code .cm-comment {
		background-color: rgba(255, 255, 255, .05) !important;
		font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
		font-size: 14px !important;
		padding: 6px 0 4px !important;
	}
	
	#markdown_form .CodeMirror .CodeMirror-code span.CodeMirror-selectedtext.cm-comment {
		background-color: rgba(255, 255, 255, .05) !important;
	}
	
	#markdown_form .editor-preview {
		height: 100% !important;
		left: 0 !important;
		position: absolute !important;
		top: 0 !important;
		width: 100% !important;
		z-index: 2 !important;
	}
	
	#markdown_form .editor-preview-side {
		border: 0 !important;
		border-left: 1px solid #555 !important;
		border-top: 1px solid #555 !important;
		bottom: 0 !important;
		position: fixed !important;
		right: 0 !important;
		top: 58px !important;
		width: 50% !important;
		z-index: 9 !important;
	}
	
	#markdown_form .editor-preview,
	#markdown_form .editor-preview-side {
		background-color: #444 !important;
		box-sizing: border-box !important;
		color: #aaa !important;
		display: none !important;
		font-family: inherit !important;
		font-size: 18px !important;
		line-height: 1.5 !important;
		overflow: auto !important;
		padding: 0 14px 14px !important;
	}
	
	#markdown_form .editor-preview pre,
	#markdown_form .editor-preview-side pre {
		background-color: rgba(255, 255, 255, .05) !important;
		font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
		font-size: 14px !important;
		line-height: 1.2 !important;
		margin-top: 14px !important;
		overflow: auto !important;
		-webkit-overflow-scrolling: touch !important;
		padding: 14px !important;
	}
	
	#markdown_form .editor-preview pre code,
	#markdown_form .editor-preview-side pre code {
		background-color: transparent !important;
		font-size: 14px !important;
		padding: 0 !important;
	}
	
	#markdown_form .editor-preview-active,
	#markdown_form .editor-preview-active-side {
		display: block !important;
	}
	
	#markdown_form .editor-preview table,
	#markdown_form .editor-preview-side table {
		background-color: #444 !important;
		border: 0 !important;
		border-collapse: collapse !important;
		border-spacing: 0 !important;
		width: 100% !important;
	}
	
	#markdown_form .editor-preview table caption,
	#markdown_form .editor-preview-side table caption {
		caption-side: bottom !important;
		color: #777 !important;
		padding: 7px !important;
		text-align: left !important;
	}
	
	#markdown_form .editor-preview table td,
	#markdown_form .editor-preview table th,
	#markdown_form .editor-preview-side table td,
	#markdown_form .editor-preview-side table th {
		border: 0 !important;
		border-bottom: 1px solid #555 !important;
		padding: 7px !important;
		text-align: left !important;
	}
	
	#markdown_form .editor-preview table th,
	#markdown_form .editor-preview-side table th {
		background-color: rgba(255, 255, 255, .05) !important;
		font-weight: 600 !important;
	}
	
	#markdown_form .editor-preview audio:not([controls]),
	#markdown_form .editor-preview-side audio:not([controls]) {
		display: none !important;
		height: 0 !important;
	}
	
	#markdown_form .editor-preview img,
	#markdown_form .editor-preview-side img {
		max-width: 100% !important;
		vertical-align: middle !important;
	}
	
	#markdown_form .editor-preview audio,
	#markdown_form .editor-preview video,
	#markdown_form .editor-preview-side audio,
	#markdown_form .editor-preview-side video {
		width: 100% !important;
	}
	
	#markdown_form .editor-toolbar {
		background-color: #334155 !important;
		border: 1px solid #475569 !important;
		border-bottom: 0 !important;
		border-top-left-radius: 3px !important;
		border-top-right-radius: 3px !important;
		font-size: 18px !important;
		padding: 0 14px !important;
		position: relative !important;
		-webkit-user-select: none !important;
		-moz-user-select: none !important;
		-ms-user-select: none !important;
		user-select: none !important;
	}
	
	#markdown_form .editor-toolbar::after,
	#markdown_form .editor-toolbar::before {
		content: ' ' !important;
		display: block !important;
		height: 1px !important;
	}
	
	#markdown_form .editor-toolbar::before {
		margin-bottom: 7px !important;
	}
	
	#markdown_form .editor-toolbar::after {
		margin-top: 7px !important;
	}
	
	#markdown_form .editor-toolbar a {
		border: 1px solid transparent !important;
		border-radius: 3px !important;
		color: #f1f5f9  !important;
		cursor: pointer !important;
		display: inline-block !important;
		font-size: 80% !important;
		height: 30px !important;
		margin: 0 !important;
		text-align: center !important;
		text-decoration: none  !important;
		width: 30px !important;
	}
	
	#markdown_form .editor-toolbar a.active,
	#markdown_form .editor-toolbar a:hover {
		border-color: #151f2c !important;
		color: #f1f5f9  !important;
	}
	
	#markdown_form .editor-toolbar a::before {
		line-height: 30px !important;
	}
	
	#markdown_form .editor-toolbar a.fa-header-x::after {
		bottom: -.25em !important;
		font-family: inherit !important;
		font-size: 80% !important;
		line-height: 0 !important;
		position: relative !important;
		vertical-align: baseline !important;
	}
	
	#markdown_form .editor-toolbar a.fa-header-1::after {
		content: "1" !important;
	}
	
	#markdown_form .editor-toolbar a.fa-header-2::after {
		content: "2" !important;
	}
	
	#markdown_form .editor-toolbar a.fa-header-3::after {
		content: "3" !important;
	}
	
	#markdown_form .editor-toolbar a.fa-header-bigger::after {
		content: "▲" !important;
	}
	
	#markdown_form .editor-toolbar a.fa-header-smaller::after {
		content: "▼" !important;
	}
	
	#markdown_form .editor-toolbar i.separator {
		border-right: 1px solid #555 !important;
		color: transparent !important;
		display: inline-block !important;
		margin: 0 7px !important;
		text-indent: -10px !important;
		width: 0 !important;
	}
	
	#markdown_form .editor-toolbar:hover a {
		color: #f1f5f9  !important;
	}
	
	#markdown_form .editor-toolbar.fullscreen {
		background-color: #444 !important;
		border: 0 !important;
		box-sizing: border-box !important;
		height: 58px !important;
		left: 0 !important;
		overflow-x: auto !important;
		overflow-y: hidden !important;
		padding-bottom: 14px !important;
		padding-top: 14px !important;
		position: fixed !important;
		top: 0 !important;
		white-space: nowrap !important;
		width: 100% !important;
		z-index: 9 !important;
	}
	
	#markdown_form .editor-toolbar.fullscreen::after,
	#markdown_form .editor-toolbar.fullscreen::before {
		height: 58px !important;
		left: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		position: fixed !important;
		top: 0 !important;
		width: 20px !important;
	}
	
	@media only screen and (max-width:700px) {
		#markdown_form .editor-toolbar a.no-mobile {
			display: none
		}
	}
	
	#markdown_form .editor-toolbar.disabled-for-preview a:not(.no-disable) {
		background-color: #444 !important;
		border-color: transparent !important;
		pointer-events: none !important;
		text-shadow: inherit !important;
	}
	
	#markdown_form .editor-statusbar {
		color: #777 !important;
		font-family: inherit !important;
		font-size: 80% !important;
		padding: 7px 14px !important;
		text-align: right !important;
	}
	
	#markdown_form .editor-statusbar span {
		display: inline-block !important;
		margin-left: 1em !important;
	}
	
	#markdown_form .editor-statusbar .lines::before {
		content: 'lines: ' !important;
	}
	
	#markdown_form .editor-statusbar .words::before {
		content: 'words: ' !important;
	}
	
	#markdown_form .editor-statusbar .characters::before {
		content: 'characters: ' !important;
	}
	
	#markdown_form .editor-toolbar a.active, .editor-toolbar a:hover {
		background: #6481b7  !important;
	}
}
