<form method="POST" action="{{action}}">

	<div class='my-3 border-1 background-white col-md-8'>
		<textarea name="{{name}}" id="code">{{value}}</textarea>
	</div>

	<input class='btn btn-primary' type='submit' value='{{validate}}' />

</form>