# Ignore everything
*

# ...except this .gitignore
!.gitignore

# ...and theses directories
!downloads/
!documents/
!spreadsheets/
!scripts/
!templates/

# ...and their .gitkeep files
!downloads/.gitkeep
!documents/.gitkeep
!spreadsheets/.gitkeep
!scripts/.gitkeep
!templates/.gitkeep